/* General page styles */

header {
    font-family: "Jomolhari", serif;
  }
  
  body {
    background-color: #37373a;
  }
  
  h1 {
    font-family: "Jomolhari", serif;
    background-color: #9b2020f3;
    color: rgb(230, 137, 16);
    padding: 16px;
    margin-bottom: 5px;
  }
  
  #blogName {
    color: #9b2020f3;
  }
  
  main {
    font-family: "Jomolhari", serif;
    margin-top: -5px;
    background-color: #05010f;
  }
  
  .homepage-main {
    margin-top: 34px;
  }
  
  .user-name {
    background-color: #e4d945;
  }
  
  .blogPost-main {
    margin-top: 34px;
  }
  
  /* Nav styles */
  
  .navBar {
    background-color: #f8673b;
  }
  
  #logout {
    background-color: rgb(58, 70, 182);
  }
  
  /* Input/textarea styles */
  
  #titleInput,
  #bodyInput,
  #comment,
  #email-login,
  #password-login,
  #name-signup,
  #email-signup,
  #password-signup {
    background-color: #f7f1f1f3;
  }
  
  /* Button styles */
  
  .btn {
    background-color: #f8673b;
  }
  
  /* Card styles */
  
  .card-header {
    background-color: #9b2020f3;
  }
  
  .card-body {
    background-color: #f8673b;
  }
  
  .card {
    background-color: #e7f1f0;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
  }